scores/
src/scripts/variables.py
src/scripts/variables.sh

src/logs

IGSPF_corr_log.log
IGSPF_mi_log.log 
IGSPF_uncased_corr_32_log_set1_17.log 
IGSPF_uncased_corr_32_log_set1_128.log 
IGSPF_uncased_corr_32_log_set2_17.log 
IGSPF_uncased_corr_32_log_set2_128.log 
IGSPF_uncased_corr_32_log_set3_17.log 
IGSPF_uncased_corr_32_log_set3_128.log 
IGSPF_uncased_corr_32_log.log 
IGSPF_uncased_corr_log.log 
IGSPP_corr_log.log

IGSPP_uncased_corr_32_log_set1.log 
IGSPP_uncased_corr_32_log.log 
IGSPP_uncased_corr_log.log 

one_shot_IGSP_log.log

src/helpers/GLUE_tasks/class_distribution
src/helpers/GLUE_tasks/n_tokens